// ========= Variables =========
$primary: #0d6efd;
$bg-light: #f8f9fa;
$text-dark: #212529;
$radius: 12px;
$shadow: 0 6px 25px rgba(0, 0, 0, 0.08);

// ========= Table =========
.custom-table {
  background: #fff;
  border-radius: $radius;
  overflow: hidden;
  box-shadow: $shadow;

  thead {
    th {
    background: linear-gradient(#28333f);
      color: #e4eae9;
      font-size: 13px;
      font-weight: 600;
      letter-spacing: 1px;
      text-transform: uppercase;
      padding: 16px;
      border: none;
    }
  }

.order-id {
  color: #304b77;
  font-weight: 600;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 6px;
  transition: all 0.2s ease;

  &:hover {
    background: rgba(13, 110, 253, 0.1);
    color: #084298;
    transform: translateX(3px);
  }
}

  td {
    padding: 16px;
    vertical-align: middle;
    border: none;
    color: $text-dark;
  }



  tbody tr {
    transition: all 0.5s ease;
    position: relative;

    &:hover {
      background: $bg-light;
      transform: translateY(-3px);
      box-shadow: 0 8px 20px rgba(0,0,0,0.18);
    }
  }
}

// ========= Image =========
.image-container {
  position: relative;
  width: 55px;
  height: 55px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    border: 2px solid #eee;
  }

  .more-image {
    position: absolute;
    bottom: -6px;
    right: -6px;
    background: #000;
    color: #fff;
    font-size: 11px;
    padding: 3px 7px;
    border-radius: 50%;
    font-weight: 500;
  }
}

// ========= Status =========
.btn {
  border-radius: 20px;
  padding: 4px 10px;
  font-size: 12px;
  font-weight: 500;
  display: inline-block;
}

// Pending
.btn-pending {
  background: #fff3cd;
  color: #856404;
}

// Failed
.btn-failed {
  background: #f8d7da;
  color: #721c24;
}

// Success
.btn-success {
  background: #d4edda;
  color: #155724;
}

// ========= Button =========
.btn-info {
  background: #0dcaf0;
  border: none;
  color: #fff;
  padding: 7px 11px;
  border-radius: 8px;
  transition: all 0.2s ease;

  i {
    font-size: 14px;
  }

  &:hover {
    background: #0bbcd6;
    transform: scale(1.08);
  }
}
