
@if (order) {


<div class="container pt-4 flex-container">
  <div class="basket-container">
    <table class="table table-hover custom-table">
      <thead>
        <tr class="bg-info text-white">
          <th>Product</th>
          <th></th>
          <th>Description</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total</th>
        </tr>
      </thead>

      <tbody>
        @for (item of order.orderItems; track $index) {
        <tr>
          <td>
            <a class="text-dark text-decoration-none" [routerLink]="['/shop/product-details', item.productItemId]">
              {{item.productName}}
            </a>
          </td>

          <td>
            <img src="https://localhost:44361/{{item.mainImage}}" class="product-image img-fluid" alt="" />
          </td>

          <td class="description">
            <!-- {{item.description}} -->
          </td>

          <td>{{item.price | currency}}</td>
          <td>{{item.quantity}}</td>
          <td>{{item.price * item.quantity | currency}}</td>

        </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="order-summary-container">
    <div class="order-summary bg-light text-uppercase text-info p-3 text-center">
      Order Summary
    </div>

    <div class="order-details p-3">
      <p style="font-style: italic;">Shipping will be added on total price</p>

      <ng-container>
        <ul class="list-unstyled mb-4">

          <li class="d-flex justify-content-between border-bottom py-3">
            <strong class="text-muted">Order Subtotal</strong>
            <strong>{{order.subtotal | currency}}</strong>
          </li>

          <li class="d-flex justify-content-between border-bottom py-3">
            <strong class="text-muted">Order Shipping</strong>
            <strong>{{(order.total-order.subtotal)| currency}}</strong>
          </li>
          <li class="d-flex justify-content-between border-bottom py-3">
            <strong class="text-muted">Order Status</strong>
            <strong [ngClass]="{
                'text-warning':order.status==='Pending',
                'text-danger':order.status==='PaymentFailed',
                'text-success':order.status==='PaymentReceived'
              }">
              {{order.status}}
            </strong>
          </li>

          <li class="d-flex justify-content-between border-bottom py-3">
            <strong class="text-muted">Order Total</strong>
            <strong>{{order.total | currency}}</strong>
          </li>

        </ul>
      </ng-container>
    </div>

  </div>
</div>


}
